!!! 5
%html
  %head
    %title Auction Sniper
    %link{:rel => "stylesheet", :href => "/css/auctionSniper.css"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}
    %script{:src => "/javascript/auctionServer.js", :type => "text/javascript"}
    %script{:src => "/javascript/auctionSniper.js", :type => "text/javascript"}
    %script{:src => "/javascript/auctionMessageProcessor.js", :type => "text/javascript"}

%body
  #auctionSniper
    #connecting
      %p Connecting to Server...
    #controls
      %button#join{:type => "button"} Join Auction

    #status

  :javascript
    $(document).ready(function() {
      var auctionSniper = new AuctionSniper();
      var callbacks = {
        connected: auctionSniper.showControls ,
        closed: auctionSniper.auctionClosed,
        priceReceived: auctionSniper.placeBid
      };
      var messageProcessor = new AuctionMessageProcessor(callbacks);
      var auctionServer = new AuctionServer("localhost:9393", messageProcessor);
      auctionSniper.initialize(auctionServer);
    });

